html {
    background-image: linear-gradient(90deg, turquoise, ivory);
    font-family: helvetica;
    text-align: center;
    }
    
    h1 {
      font-size: 36pt;
      color: white;
      text-align: center;
      font-family: helvetica;
      font-weight: bold;
    }
    
    a {
    color: white;
    text-decoration: none;
    font-family: helvetica;
    }
    
